<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Help</title>-->

<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"-->
<!--          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">-->

<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; NAVBAR &ndash;&gt;-->
<!--<section id="nav-bar">-->
<!--    <nav class="navbar navbar-expand-lg">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand"><img th:src="@{/images/logo.png}"></a>-->
<!--            <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse"-->
<!--                    data-bs-target="#navmenu">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                <ul class="navbar-nav mx-auto">-->
<!--                    &lt;!&ndash;mx-auto ili ova&ndash;&gt;-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/aboutus}">About-us</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/contact}">Contact us</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/help}">Help</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</section>-->

<!--<section>-->
<!--    <div class="container align-center pt-5">-->
<!--        <p>-->
<!--            This web application is meant to help you find the libraries that are in 5km radius from your school.<br>-->
<!--            1. Choose your school from the dropdown list<br>-->
<!--            2. On the map it will be displayed all the locations of the libraries that are in 5km radius.<br>-->
<!--            3. Click on the library to see the address and the working hours.<br>-->
<!--        </p>-->
<!--        </p>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash;Footer&ndash;&gt;-->

<!--<section id="footer" class="fixed-bottom">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4 footer-box text-center">-->
<!--                <p><b>ABOUT US</b></p>-->
<!--                <p>This web application is meant to find the nearest libraries to a specific school.-->
<!--                    We remembered our need to know where we could get needed literature or to simply know a nearby quiet-->
<!--                    library where we could-->
<!--                    study more effectively, for that purpose, we decided to make it easier for the other students.</p>-->
<!--            </div>-->
<!--            <div class="col-md-4 footer-box text-center">-->
<!--                <p><b>CONTACT US</b></p>-->
<!--                <p><i class="fas fa-phone"></i> +398 78 000 000</p>-->
<!--                <p><i class="fas fa-envelope"></i> xyz@gamil.com</p>-->
<!--            </div>-->
<!--            <div class="col-md-4 footer-box text-center">-->
<!--                <h5 class="text-uppercase">Links</h5>-->
<!--                <ul class="navbar-nav mx-auto">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/aboutus}">About-us</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/contact}">Contact us</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link"th:href="@{/help}">Help</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->